<%-include("header")%>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Form Basic</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <form class="form-horizontal" method="post" action="/admin/other/insertother">
                  <div class="card-body">
                    <h4 class="card-title">Other Info</h4>
                    <div class="form-group row">
                      <label
                        for="name"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Enter Name Here</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Enter Name Here"
                        />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label
                        for="cono1"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Select Country</label
                      >
              <% var cityArray = ["India" , "Canada" , "Germany" , "France" , "Japan"]; %>

                      <div class="col-md-9">
                          <select
                            name="country"
                            class="select2 form-select shadow-none"
                            style="width: 100%; height: 36px"
                          >
                            <option>Select</option>
                            <% for(i=0; i<cityArray.length; i++){ %>
                              <option value="<%= cityArray[i] %>"><%= cityArray[i] %></option>
                              <% } %>
                           
                          </select>
                        </div>
                    </div>
                      
                    <div class="form-group row">
                      <label
                        for="cono1"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Message</label
                      >
                      <div class="col-sm-9">
                        <textarea class="form-control" name="message"></textarea>
                      </div>
                    </div>

                   
                  </div>
                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      
        <!-- footer -->
        
        <%-include("footer")%>