<%- include('user_header') %>

<section class="page-heading wow fadeIn" data-wow-duration="1.5s" style="background-image: url(files/images/01-heading.jpg)">
    <div class="container">
        <div class="page-name">
            <h1>Contact Us</h1>
            <span>Lovely layout of heading</span>
        </div>
    </div>
</section>

<!-- <section class="contact-map-wrapper">
    <div class="container">
        <div class="section-heading">
            <h2>Find Us On Map</h2>
            <div class="section-dec"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-map" style="height: 380px;"></div>
            </div>
        </div>
    </div>
</section> -->


<section class="contact-us">
    <div class="container">
        <div class="section-heading">
            <h2>Send Us A Message</h2>
            <div class="section-dec"></div>
        </div>
        <div class="send-message col-sm-12">
            <form id="contact_form" action="/addcontect" method="post">
                <div class=" col-md-4 col-sm-4 col-xs-6">
                    <input type="text" class="blog-search-field" name="name" placeholder="Your name..." value="">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <input type="text" class="blog-search-field" name="email" placeholder="Your email..." value="">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" class="subject" name="subject" placeholder="Subject..." value="">
                </div>
                <div class="col-md-12 col-sm-12">
                    <textarea id="message" class="input" name="message" placeholder="Message..."></textarea>
                </div>
                <div class="submit-coment col-md-12">
                    <button class=" btn btn-dark" style="background-color: black; color: white;"  type="submit" >
                        Send now
                    </button>
                </div>
            </form>		
        </div>
    </div>
</section>

<%- include('user_footer') %>